MHW_calendar_year_satellite_sst_5_day_threshold.csv
MHW_calendar_year_soda_sbt.csv
MHW_calendar_year_soda_sst.csv
MHW_satellite_sst.csv
MHW_satellite_sst_5_day_threshold.csv
MHW_soda_sbt.csv
MHW_soda_sst.csv
species_biomass_with_CTI.csv
survey_biomass_with_CTI.csv
survey_coordinates.csv
survey_extent.nc
survey_start_times.csv
survey_temporal_beta_diversity.csv
trawl_survey_codes.csv
